* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

section {
  height: 100vh;
  color: white;
  background-color: black;
  position: relative;
  overflow: hidden;
}

section h1 {
  padding-top: 30px;
  text-align: center;
  font-size: 80px;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
}

/* Media Queries for Responsive Design */

/* Tablet (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .intro h1,
  section h1 {
    font-size: 60px; /* Adjust font size for tablets */
  }
}

/* Mobile (up to 767px) */
@media only screen and (max-width: 767px) {
  .intro h1,
  section h1 {
    font-size: 40px; /* Adjust font size for mobile devices */
  }
}